* {
  margin: 0;
  padding: 0;
}
body {
  background: url(../images/sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Fira Code;
}
@font-face {
  font-family: "action-man";
  src: url(../fonts/local-fonts/action_man-webfont.woff) format("woff"),
    url(../fonts/local-fonts/action_man-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kaushan-script";
  src: url(../fonts/local-fonts/kaushanscript-regular-webfont.woff)
      format("woff"),
    url(../fonts/local-fonts/kaushanscript-regular-webfont.woff2)
      format("woff2");
  font-weight: bold;
  font-style: normal;
}

.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  font-family: action-man;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.inputs input {
  padding: 15px;
  border: none;
  font-family: action-man;
  outline: none;
  width: 80%;
  background: none;
  font-size: 21px;
  color: white;
}

.box {
  border: 2px solid black;
  font-family: action-man;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: white;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
}
i {
  border: 2px solid black;
  padding: 15px;
  border-radius: 40px;
  font-size: 23px;
}
.inputs input::placeholder {
  font-family: action-man;
  font-size: 21px;
  color: white;
}
.inputs #btn {
  padding: 10px;
}
h1 {
  font-size: 50px;
  color: black;
  font-family: kaushan-script;
}
p {
  font-family: action-man;
  font-size: 30px;
  color: black;
}
h2 {
  color: white;
  font-family: action-man;
  font-size: 40px;
}
.weather-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 430px;
  width: 400px;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-family: Hack;
  justify-content: center;
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  color: white;
  border: none;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#error-message {
  color: red;
}
#emoji {
  font-size: 100px;
}
