* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  background-color: #0b131e;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  width: 70vw;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  gap: 1.3rem;
}
main {
  width: 100%;
  display: flex;
  gap: 1rem;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
  gap: 1rem;
  width: 100%;
  background-color: #202b3b;
}
header h2 {
  font-size: 2.5rem;
}
header input {
  padding: 0.5rem;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  font-size: 1rem;
  font-family: Poppins;
  padding: 0.7rem;
  background-color: #202b3b;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
header button {
  font-size: 1rem;
  padding: 0.7rem;
  width: 20%;
  border-radius: 10px;
  font-family: Fira Code;
  border: none;
  color: white;
  background-color: rgb(45, 202, 45);
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.country-info {
  display: flex;
  align-items: center;
  box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  background-color: #202b3b;
}
.country-info img {
  height: 130px;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.infos h1 {
  font-size: 4rem;
}
.other-infos {
  display: flex;
  align-items: center;
  box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -1px 23px 1px rgba(0, 0, 0, 0.75);
  width: 100%;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #202b3b;
  flex-direction: column;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
  gap: 2rem;
}
.icon-title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.condition-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1rem - 4px);
  font-size: 1.5rem;
  font-family: Jetbrains Mono;
}
.country-info,
.other-infos {
  height: 50vh;
}
.condition-holder p {
  opacity: 0.7;
}
/*
* Phones
*/
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .country-info img {
    height: 100px;
  }
  .infos h1 {
    font-size: 2rem;
  }
  .infos h3 {
    font-size: 1rem;
  }
  .condition-holder p {
    font-size: 1rem;
    text-align: center;
  }
  .condition-holder i {
    font-size: 1rem;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}
/*
* Tablets
*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
  .infos h1 {
    font-size: 2rem;
  }
  .infos h3 {
    font-size: 1rem;
  }
  .condition-holder p {
    font-size: 1rem;
  }
  .condition-holder i {
    font-size: 1rem;
  }
  #air-con {
    font-size: 1rem;
    text-align: center;
  }
}
/*
* Laptops and Desktops
*/
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}
